[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
nanoid = "*"
coverage = "*"
flask = "*"
sqlalchemy_utils = "*"
postgres= "*"
psycopg2 = "*"
marshmallow = "*"
structlog = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
